
<title>Admin - Add New Data</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<div class="container-fluid add_new_data_container">
    <h2 class="heading_title">Add New Data</h2>
    <br>
    <form action="/insert_single_row" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="mbtb_code">MBTB Code</label>
                    <input name="mbtb_code" type="text" class="form-control" required>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="sex">Sex</label>
                    <select name="sex" class="form-control">
                        <% for(var i=0; i < sex.length; i++) { %>
                            <option><%= sex[i] %></option>
                        <% } %>
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="age">Age</label>
                    <input name="age" type="number" class="form-control">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="race">Race</label>
                    <input name="race" type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="clinical_diagnosis">Clinical Diagnosis</label>
                    <input name="clinical_diagnosis" type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="duration">Duration of Disease</label>
                    <input name="duration" type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label for="clinical_history">Clinical History</label>
                    <textarea name="clinical_history" rows="5" class="form-control"></textarea>
                </div>
            </div>

            <!--id to be determined-->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cause_of_death">Cause of Death</label>
                    <input name="cause_of_death" type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="postmortem_interval">Post-mortem Interval (hrs)</label>
                    <input name="postmortem_interval" type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="brain_weight">Brain Weight (g)</label>
                    <input name="brain_weight" type="number" class="form-control">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="time_in_fix">Time in Fix (days)</label>
                    <input name="time_in_fix" type="number" class="form-control">
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label for="neuoropathology_diagnosis">Neuropathological Diagnosis</label>
                    <select name="neuoropathology_diagnosis" class="form-control">
                        <% for(var diagnosis_item=0; diagnosis_item < neuro_diagnosis.length; diagnosis_item++) { %>
                            <option><%= neuro_diagnosis[diagnosis_item] %></option>
                        <% } %>
                    </select>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label for="neuoropathology_detailed">Neuropathology - Detailed </label>
                    <textarea name="neuoropathology_detailed" id="neuoropathology_detailed" rows="5" class="form-control"></textarea>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label for="neuoropathology_gross">Neuropathology - Gross </label>
                    <textarea name="neuoropathology_gross" rows="5" class="form-control"></textarea>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label for="neuoropathology_micro">Neuropathology - Micro </label>
                    <textarea name="neuoropathology_micro" rows="5" class="form-control"></textarea>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label for="neuoropathology_criteria">Neuropathology Criteria </label>
                    <textarea name="neuoropathology_criteria" rows="5" class="form-control"></textarea>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="cerad">CERAD </label>
                    <input name="cerad" type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="braak_stage">BRAAK Stage </label>
                    <input name="braak_stage" type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="khachaturian">KHACHATURIAN </label>
                    <input name="khachaturian" type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="abc">ABC </label>
                    <input name="abc" type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="autopsy_type">Type of Autopsy</label>
                    <select name="autopsy_type" class="form-control">
                        <% for(var autopsy_item=0; autopsy_item < autopsy_type.length; autopsy_item++) { %>
                            <option><%= autopsy_type[autopsy_item] %></option>
                        <% } %>
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="tissue_type">Tissue Type </label>
                    <select name="tissue_type" class="form-control">
                        <% for(var tissue_item=0; tissue_item < tissue_type.length; tissue_item++) { %>
                            <option><%= tissue_type[tissue_item] %></option>
                        <% } %>
                    </select>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label for="storage_method">Storage method </label>
                    <select name="storage_method" class="form-control">
                        <% for(var storage_item=0; storage_item < storage_method.length; storage_item++) { %>
                            <option><%= storage_method[storage_item] %></option>
                        <% } %>
                    </select>
                </div>
            </div>

        </div>
        <br>
        <div class="form-group button_holder">

            <div class="col" id="cancel_btn">
                <button class="btn btn-primary" id="submit_btn">Submit</button>
                <a href="/admin" class="btn_space">Cancel</a>
            </div>
        </div>
    </form>
</div>
