<title>View Record</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link  href="/dependencies/css/photoviewer.css" rel="stylesheet">
<script src="/dependencies/js/photoviewer.js"></script>

<div ng-app="view_single_record_app" ng-controller="view_single_record_controller"
     class="container-fluid single_record_container">

    <h2 class="heading_title">View Record</h2>
    <br>

    <script>
        // binding data recieved from sails controller to JS variable to pass it to angular
        var mbtb_detailed_data = <%- JSON.stringify(detailed_data) %>;
    </script>

    <div class="row">

        <div class="col-md-8">
            <table class="table table-bordered">
                <thead>
                <tr class="detailed_data_header">
                    <th>Parameter</th>
                    <th>Detail</th>
                </tr>
                </thead>

                <tbody >
                <tr>
                    <td scope="row" class="col-md-3">MBTB Code</td>
                    <td>{{details.mbtb_code}}</td>
                </tr>

                <tr>
                    <td scope="row">Sex</td>
                    <td>{{details.sex}}</td>
                </tr>

                <tr>
                    <td scope="row">Age</td>
                    <td>{{details.age}}</td>
                </tr>

                <tr>
                    <td scope="row">Clinical Diagnosis</td>
                    <td>{{details.clinical_diagnosis}}</td>
                </tr>

                <tr>
                    <td scope="row">Clinical Details</td>
                    <td>{{details.clinical_details}}</td>
                </tr>

                <tr>
                    <td scope="row">Duration of Disease (Years)</td>
                    <td>{{details.duration}}</td>
                </tr>

                <tr>
                    <td scope="row">Cause of Death</td>
                    <td>{{details.cause_of_death}}</td>
                </tr>

                <tr>
                    <td scope="row">Postmortem Interval (hrs)</td>
                    <td>{{details.postmortem_interval}}</td>
                </tr>

                <tr>
                    <td scope="row">Brain Weight (g)</td>
                    <td>{{details.brain_weight}}</td>
                </tr>

                <tr>
                    <td scope="row">Time in Fix (Days)</td>
                    <td>{{details.time_in_fix}}</td>
                </tr>

                <tr>
                    <td scope="row">Neuropathology</td>
                    <td>{{details.neuropathology_diagnosis}}</td>
                </tr>

                <tr>
                    <td scope="row">Neuropathology Summary</td>
                    <td>{{details.neuropathology_summary}}</td>
                </tr>

                <tr>
                    <td scope="row">Gross Neuropathological Information</td>
                    <td>{{details.neuropathology_gross}}</td>
                </tr>

                <tr>
                    <td scope="row">Microscopic Neuropathological Information</td>
                    <td>{{details.neuropathology_microscopic}}</td>
                </tr>

                <tr>
                    <td scope="row">CERAD</td>
                    <td>{{details.cerad}}</td>
                </tr>

                <tr>
                    <td scope="row">Braak Stage</td>
                    <td>{{details.braak_stage}}</td>
                </tr>

                <tr>
                    <td scope="row">KHACHATURIAN</td>
                    <td>{{details.khachaturian}}</td>
                </tr>

                <tr>
                    <td scope="row">ABC</td>
                    <td>{{details.abc}}</td>
                </tr>

                <tr>
                    <td>Tissue Type</td>
                    <td>{{details.tissue_type}}</td>
                </tr>

                <tr>
                    <td>Formalin Fixed</td>
                    <td>{{details.formalin_fixed}}</td>
                </tr>

                <tr>
                    <td>Fresh Frozen</td>
                    <td>{{details.fresh_frozen}}</td>
                </tr>

            </table>
        </div>


        <!-- side navigation to display list of regions and stains for a tissue dynamically-->
        <div class="col-md-3">
            <div class="row">
                <div class="image_files_title">
                    <h4 class="heading_title">Neuropathology Slide Images</h4>
                </div>

                <% if (typeof (tissue_meta_data) !== 'string') { %>

                    <!-- loader for api call -->
                    <div class="loader_wrapper" style="display:none">
                        <div class="loader" style="display:none"></div>
                        <div class="loader_text">
                            <div>Fetching Image...</div>
                            <br/>
                            <div>This may take a minute or two, do not close or refresh this window.</div>
                        </div>
                    </div>

                    <div class="image_files_nav">
                        <% for(var tissue_key in tissue_meta_data) { %>

                            <!-- displaying key name - here it is n_region name -->
                            <button class="dropdown-btn">
                                <%= tissue_key %>
                                <i class="fa fa-caret-down"></i>
                            </button>

                            <!-- displaying stain names with respective url -->
                            <div class="dropdown-container" style="display: none">
                                <% for(var j=0; j < tissue_meta_data[tissue_key].length; j++) { %>
                                    <div data-file-name="<%= tissue_meta_data[tissue_key][j].file_name %>" onclick="userDisplayImage(this)">
                                        <%= tissue_meta_data[tissue_key][j].stain_name %>
                                    </div>
                                <% } %>
                            </div>
                        <% } %>
                    </div>
                <% } else {%>
                    <!-- display error msg if image meta data not found -->
                    <div class="image_files_nav">
                        <div class="dropdown-btn">
                            <%= tissue_meta_data %>
                        </div>
                    </div>
                <%}%>
            </div>
        </div>

    </div>

    <br>
</div>

